section.tools {
  background-color: #0D0127;
  background-color: #f00;
}
section.tools header h2 {
  color: #F4EFFF;
  opacity: 0.1;
}
section.tools h3, section.tools h4, section.tools p {
  color: #fff;
}