$body-copy:#0d0127;
$off-white:#f4efff;
$white:#fff;

$mauve: #E14566;
$pink: #FE00FF;
$purple: #6d00ff;

$banner-height-desktop:75vh;
$banner-height-mobile:75vh;
$gutters:3rem;

$boundeDuration: 0.6s;
$bounceRepeat: infinite;
