/*
tools
*/

section.tools{
	color:$body-copy;
	padding-top:0;
	padding-bottom:0;

	.info-m,
	.info-d{
		width:100%;
		margin:0 auto;
		font-weight:300;
		font-size:14px;
		line-height:120%;
		text-align:center;
	}
	.info-m{
		display:none;
	}
	.info-d{
		display:none;
	}
	.stickyBox{
		box-sizing:border-box;
		padding-top:2rem;
		padding-bottom:2rem;
	}

	&.stickyMode{
		min-height:500vh;
		overflow:unset;
		.stickyBox{
			position:sticky;
			top:0px;
			height:100vh;
		}
	}


	button.nextItem{
		border:0px;
		position:absolute;
		right:10px;
		bottom:40px;
		z-index:5;
		width:32px;
		height:27px;
		background-image:url('../img/nav-right-purple.png');
		background-repeat:no-repeat;
		background-position:center;
		background-color:transparent;
		span{
			display:block;
			text-indent:-9999em;
			overfloy:hidden;
		}
	}

	.toolsWrapper1{
	    overflow-x:scroll;
	    // overflow-x:hidden;
	    width:100%;
	    margin-bottom:2rem;
	    padding-bottom:1rem;
	    position:relative;


	    // firefox
	    &{
	      scrollbar-height: thin;
	      scrollbar-color: $pink $body-copy;
	    }

	    // webkit
	    &::-webkit-scrollbar {
	      height: 3px;
	    }

	    &::-webkit-scrollbar-track {
	      background: $body-copy;;
	    }

	    &::-webkit-scrollbar-thumb {
	      background-color: $pink;
	    }    

	    .toolsWrapper2{
	      display:flex;
	      flex-wrap:nowrap;
	      position:relative;
	      left:0px;
	      transition:left 0.3s ease;
	      .item{
	        width:100%;        
	        box-sizing:border-box;
	      }
	    }
	}  


	.toolsProgress{
		display:none;
	}

	header.topclip{
		.container{
			& > div{
				h2{
					color:$body-copy;
				}
			}
		}
	}
	header.sub{
		h3{
			font-size:24px;
			line-height:120%;
			font-weight:400;
		}
		p{
			font-size:18px;
			line-height:120%;
			font-weight:300;
		}
	}
	.item{
		width:20%;
		margin-right:1%;
		display:inline-block;

        position:relative;
	    &:after{
	    	content:' ';
	    	display:block;
			position:absolute;
			right:0;
			top:50%;
			width:32px;
			height:27px;
			background-image:url('../img/nav-right-purple.png');
			background-repeat:no-repeat;
			background-position:center;
			background-color:transparent;
	    }

	    &:last-child{
	    	&:after{
	    		display:none;
	    	}
	    }

		figure{
			margin:0 auto 1rem auto;
			display:flex;
			justify-content:center;
			div.lst-tools,
			div.main{
				max-width: 256px;
				max-height: 256px;
				width: 100%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
			}
		}

		h4{
			font-size:20px;
			line-height:120%;
			span{
				color:$purple;
			}
		}
		p,li{
			font-weight:300;
			font-size:14px;
			line-height:120%;
		}
	}
}

@media screen and (min-width:992px) {
	section.tools{

		.toolsProgress{
			display:block;
			padding-right:36px;
			position:relative;
			transition:padding-left 0.3s ease;
			button{
				border:0px;
				span{
					display:block;
					text-indent:-9999em;
					overfloy:hidden;
				}
				&.nextItem{
					position:absolute;
					right:0;
					top:0;
					width:32px;
					height:27px;
					background-image:url('../img/nav-right-purple.png');
					background-repeat:no-repeat;
					background-position:center;
					background-color:transparent;
				}
			}

			ul{
				list-style-type:none;
				padding-left:0;
				margin:0;
				display:flex;
				
				li{
					display:inline-block;
					width:20%;
					padding:0;
					margin:0;
					button{
						height:27px;
						width:100%;
						padding:0;
						background-color:transparent;
						span{
							background-color:#C9C9C9;
							height:2px;
							width:100%;
						}
					}
					&.active{
						button{
							span{
								background-color:$purple;
							}
						}
					}
				}
			}
			&.end{
				padding-right:0px;
				button{
					&.nextItem{
						display:none;
					}
				}
			}
		}

		.info-m{
			display:none;
		}
		.info-d{
			display:block;
		}
		header.sub{
			h3{
				font-size:30px;
				line-height:120%;
				font-weight:400;
			}
			p{
				font-size:22px;
				line-height:120%;
				font-weight:300;
			}
		}

		.toolsWrapper1{
	    	overflow-x:hidden;
	    }

		.item{
			width:20%;
			box-sizing:border-box;
			display:flex;
			align-items:center;

		    &:after{
		    	display:none;
		    }

			figure{
				width:50%;
				lottie-player{
					margin:0 auto;
				}
			}
			& > div{
				width:50%;
			}
			h4{
				font-size:26px;
				line-height:120%;
				span{
					color:$purple;
				}
			}
			p,li{
				font-weight:300;
				font-size:16px;
				line-height:120%;
			}

		}
	}
}